*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #982417;
    color: #FFF0D1;
    text-align: center;
    height: 100px;
    
}

#logo{
width: 100px;
position: absolute;
left: 50px;
}

.banner{
display: flex;
width: 100%;

}



.cafe{

}

#beneficios{
    background-color: #FFF0D1;
    justify-content: center;
}

#artigo{
    background-color: black;
    color: white;
}

#franqueado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 700px;
    bottom: 200px;
    width: 510px;
    height: 180px;
    background-color: #FFF0D1;
    border:2px solid ;
    border-radius: 10px;
}

.modelos{
    width: 510px;
    height: 300px;
}

#negocios{
    
}

footer{
    background-color: #982417;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 60px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    
   
}